* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: black;
    color: #fff;
  }
  .container {
    padding: 10px 10%;
  }
  /*Landing page*/
  nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #logo {
    width: 250px;
    margin: -55px 40px;
    height: 100%;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 30px 40px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #339988;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover {
    color: #44ccaa;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

  .subTitle {
    margin-top: 300px;
    font-size: 45px;
    color: #44ccaa;
  }
  
  /*--Contact Me--*/
  .contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }
  .contact-left {
    flex-basis: 30%;
  }
  .contact-right {
    flex-basis: 60%;
    margin-top: 300px;
  }
  .contact-left p {
    margin-top: 30px;
  }
  .contact-left p i {
    color: #44ccaa;
    margin-right: 15px;
    font-size: 25px;
  }
  .social-icons {
    margin-top: 30px;
  }
  .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
  .social-icons a:hover {
    color: #44ccaa;
    transform: translateY(-5px);
  }
  .btn2 {
    width: 150px;
    height: 50px;
    background-color: #339988;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: inline-block;
  }
  .btn2:hover {
    background-color: #44ccaa;
    transform: translateY(-3px);
  }
  .contact-right form {
    width: 100%;
  }
  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
  }
  nav .fa-solid {
    display: none;
  }
  
  @media screen and (max-width: 790px) {
    /* Reduce the logo size and adjust margins for smaller screens */
    #logo {
      width: 100px;
      margin: -25px 10px;
    }
  
    /* Change navigation to a stacked layout for smaller screens */
    nav ul li {
      display: block;
      margin: 10px 0;
      text-align: center;
    }
  
    /* Contact section layout for smaller screens */
    .contact-container {
      flex-direction: column;
      margin-top: -100px;
    }
  
    /* Adjust width for contact-left and contact-right */
    .contact-left,
    .contact-right {
      width: 100%;
    }
    .contact-left {
      margin-top: -40px;
    }
    .contact-right {
      flex-basis: 60%;
      margin-top: 50px;
    }
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: #339988;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 30px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .copyright {
      font-size: 14px;
    }
    #msg {
      font-size: 18px;
    }
  }
  #msg {
    color: #61b752;
    margin-top: 10px;
    display: block;
    font-size: 25px;
  }
  